---

export interface Props {
	id: string;
	advice: string;
}

const { id, advice } = Astro.props;
---

<article class="advice__card">
	<h1>ADVICE #{id}</h1>
	<h2>"{advice}"</h2>
	<div class="patronMobile">
		<svg width="295" height="16" xmlns="http://www.w3.org/2000/svg">
			<g fill="none" fill-rule="evenodd">
				<path fill="#4F5D74" d="M0 8h122v1H0zM173 8h122v1H173z"/>
				<g transform="translate(138)" fill="#CEE3E9">
					<rect width="6" height="16" rx="3"/>
					<rect x="14" width="6" height="16" rx="3"/>
				</g>
			</g>
		</svg>
	</div>
	<div class="advice__diceContainer">
		<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
			<path d="M20 0H4a4.005 4.005 0 0 0-4 4v16a4.005 4.005 0 0 0 4 4h16a4.005 4.005 0 0 0 4-4V4a4.005 4.005 0 0 0-4-4ZM7.5 18a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm0-9a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm4.5 4.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm4.5 4.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm0-9a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Z" fill="#202733"/>
		</svg>
	</div>
</article>
<style>
	:root{
		--card-bg:hsl(217, 19%, 24%);
		--green-neon:hsl(150, 100%, 66%);
		--advice:hsl(193, 38%, 86%);
	}
	.advice__card{
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color:var(--card-bg);
		padding: 32px;
		border-radius: 10px;
		margin-top: 100px;
		
	}
	.advice__card h1{
		color:var(--green-neon);
		margin-bottom: 32px;
		font-size: 14px;
	}
	.advice__card h2{
		color:var(--advice);
		margin-bottom: 32px;
		font-size: 32px;
	}
	.advice__diceContainer{
		position: absolute;
		bottom: -16px;
		left: calc(50% - 24px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: var(--green-neon);
		border-radius: 32px;
		padding: 8px;
		width: 32px;
		height: 32px;
	}
	.patronMobile{
		margin-bottom: 64px;
	}
</style>
